﻿@using EntityLayer.Concrete
@model List<Contact>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Son Mesajlar</p>
                <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Mail</th>
                                <th>Tarih</th>
                                <th>Mesajı Gör</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                //Mesajları, son gönderilenden ilk gönderilene doğru sırala.

                                var reversedModel = Model.OrderByDescending(x => x.ContactDate).ToList(); 
                            }

                            @foreach (var item in reversedModel.Skip(Math.Max(0, Model.Count - 5))) //Sadece son 5 mesajı al.
                            {
                                <tr>
                                    <td>@item.ContactID</td>
                                    <td>@item.ContactName</td>
                                    <td>@item.ContactMail</td>
                                    <td>@item.ContactDate</td>
                                    <td><a href="/Contact/DetailsContact/" class="btn btn-primary">Mesajı Gör</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>