
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları</h1>
<br>
<a href="/Report/StaticReport/" class="btn btn-outline-info">Statik Rapor</a>
<br>
<a href="/Report/MessageReport/" class="btn btn-outline-primary">Mesajı Raporları</a>
<br>
<a href="/Report/AnnouncementReport/" class="btn btn-outline-primary">Duyuru Raporları</a>

