
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

	@await Component.InvokeAsync("_HeadVC")

<body>

	<div class="header">
		<div class="container">
			@await Component.InvokeAsync("_TopAddressVC")

			@await Component.InvokeAsync("_SocialMediaVC")
			
			<div class="clearfix"> </div>
		</div>
	</div>


	@await Component.InvokeAsync("_NavbarVC")

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"> <!--Bu kısım "Navbar"ın içine eklenecek-->
		<!-- Modal1 -->
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>In Harvest</h4>
					<img src="~/web/images/banner1.jpg" alt=" " class="img-responsive">
					<h5>ENVIRONMENT & SUSTAINABILITY</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
				</div>
			</div>
		</div>
	</div>

	@await Component.InvokeAsync("_AboutVC")

	@await Component.InvokeAsync("_ServiceVC")

	@await Component.InvokeAsync("_TeamVC")

	@await Component.InvokeAsync("_AnnouncementVC")

	@await Component.InvokeAsync("_GalleryVC")

	<div class="contact-agile" id="contact">
		<div class="container">

			@await Component.InvokeAsync("_AddressVC")

			@await Html.PartialAsync("/Views/Default/SendMessage.cshtml")

		</div>
	</div>

	@await Component.InvokeAsync("_MapVC")

	<div class="bottom-social-w3ls w3ls-social-icons">   <!--Burası daha sonra düzenlenecek-->
		<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
		<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
		<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
		<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
	</div> 
	<div class="copy">
		<p>© @DateTime.Now.Year In Harvest . Tüm Hakları Saklıdır. | Re-Designed by <a href="http://github.com/MrJakezz">Jakezz</a> </p>
	</div>
	
	@await Html.PartialAsync("/Views/Default/ScriptVC.cshtml")

</body>
</html>